
<%= render @comentario %>

<div>
  <%= link_to "Edit this comentario", notice_comentario_path(@comentario) %> |
  <%= link_to "Back to comentarios", notice_comentario_path(@comentario) %>

  
</div>
